<article class="card is-rounded" *ngIf="!hasSent">
    <form class="card-content" [formGroup]="form" (ngSubmit)="sendResetPassword()">
        <div class="level">
            <div class="is-size-5">Send reset password email</div>
        </div>

        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input" formControlName="email" [class.is-danger]="submitted && f.email.errors"
                    type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
            <div *ngIf="submitted && f.email.errors">
                <p class="help is-danger" *ngIf="f.email.errors.required">Email is required</p>
                <p class="help is-danger" *ngIf="f.email.errors.email">Email is invalid</p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button *ngIf="!isSending" type="submit" class="button is-primary is-fullwidth">Send</button>
                <a *ngIf="isSending" class="button is-primary is-fullwidth">Sending...</a>
            </div>
            <p class="help is-danger" *ngIf="unknownError">It looks like something went wrong - please try again</p>
        </div>
    </form>
</article>

<div class="card is-rounded" *ngIf="hasSent">
    <div class="card-header">
        <div class="card-header-title">
            Sent Reset Password Email
        </div>
    </div>
    <div class="card-content">
        <div class="level">
            <div class="level-item">
                <span class="icon is-large has-text-success">
                    <i class="fas fa-2x fa-check-circle"></i>
                </span>
                Follow the link in the email we have sent you to finish resetting your password.
            </div>
        </div>
    </div>
</div>