<!-- Nav -->
<nav *ngIf="isTopVisible" class="navbar disable-text-selection has-shadow" role="navigation">

    <!-- Brand -->
    <div class="navbar-brand">
        <a class="navbar-item is-unselectable" routerLink="/home">
            <img src="assets/icon-logo-1024.png" style="height: 2.25rem" alt="dipdoo" />
        </a>
        <div class="navbar-burger burger" [class.is-active]="isShowMobileMenu" data-target="navbarBasicExample" (click)="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- Menu -->
    <div id="navbarBasicExample" class="navbar-menu" [class.is-active]="isShowMobileMenu">
        <div class="navbar-start" *ngIf="!isMobile">
            <div class="navbar-item">
                <span class="has-text-primary">Give Choices &gt; Get Answers</span>
            </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" *ngIf="!isSignedIn" routerLink="/sign-in">
                <span>Login</span>
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-hidden-touch is-unselectable" *ngIf="isSignedIn">
                    {{username}}
                    <span class="icon is-large has-text-grey">
                        <i class="fas fa-user"></i>
                    </span>
                </a>


                <div class="navbar-dropdown" #dropdown *ngIf="isSignedIn">
                    <a (click)="goToEditPost()" class="navbar-item">
                        New post
                    </a>
                    <hr *ngIf="isAdmin" class="navbar-divider">
                    <a *ngIf="isAdmin" (click)="goToReportedPosts()" class="navbar-item">
                        Reported Posts
                    </a>
                    <a *ngIf="isAdmin" (click)="goToAnnouncements()" class="navbar-item">
                        Announcements
                    </a>
                    <hr class="navbar-divider">
                    <a (click)="logout()" class="navbar-item">
                        Log out <span class="is-hidden-desktop">({{username}})</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container disable-text-selection" [class.is-full]="isFullWidth">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer disable-text-selection" *ngIf="isFooterVisible">
    <div class="container">
        <div class="content has-text-centered is-size-7">
            <p style="margin-bottom: 0.25rem;"> 
                <strong>{{siteName}}</strong> is created by Kinoro Games Ltd
            </p>
            <p>
                <a routerLink="/about">About</a>&nbsp;
                |&nbsp;
                <a routerLink="/terms-of-service">Terms &amp; conditions</a>
            </p>
        </div>
    </div>
</footer>

<app-modal></app-modal>
<app-media-modal></app-media-modal>