<a [class.is-post-voted-option-not-voted]="isPostVotedOptionNotVoted" [class.is-post-voted-option-voted]="isPostVotedOptionVoted" 
    [class.is-post-not-voted]="isPostNotVoted" style="width: 100%; height: 100%;">
    <a class="button is-fullwidth"  (click)="vote(option)"
    style="padding: 0">

        <!-- Image -->
        <div *ngIf="option.imageUrl != null" style="height: 100%;">

            <div *ngIf="!option.hasImageLoaded" class="level" style="position:absolute; top: 50%; width: 100%; transform: translateY(-50%)">
                <div class="level-item">
                    <p><span class="icon"><i class="fas fa-spinner fa-pulse"></i></span></p>
                </div>
            </div>

            <img [src]="option.imageUrl" [class.is-hidden]="option.hasImageLoaded != true" style="object-fit: cover; height: 100%; aspect-ratio: 1/1;"
                [class.fade-in]="option.hasImageLoaded == true" (click)="showMedia()" (load)="onPostImageLoaded(option)" (error)="onPostImageError(option)"
                #postImage />


            <div *ngIf="option.hasImageLoaded && getMediaType(option.linkUrl) == mediaTypeEnum.YouTube" class="level" style="position:absolute; top: 50%; width: 100%; transform: translateY(-50%);" (click)="showMedia()">
                <div class="level-item">
                    <p><span class="icon is-small has-text-white"><i class="fas fa-play"></i></span></p>
                </div>
            </div>
        </div>

        <!-- Text -->
        <div style="flex:1; white-space: nowrap; padding: 0.25rem;
        overflow: hidden; position: relative;
        text-overflow: ellipsis; width: 100%">
            <span *ngIf="option.hasImageLoaded || option.imageUrl == null">{{option.text}}</span>
        </div>
        
    </a>
    
    <!-- Votes -->
    <div class="is-size-7" *ngIf="isPostVotedOptionVoted" class="votes-subtext" style="display: flex; flex-direction: row; margin: 0 .5rem 0rem .5rem; flex-grow: 0; flex-shrink: 1; justify-content: center;">
        {{votesAsPercentage}}%
    </div>
    <div *ngIf="!isPostVotedOptionVoted" style="height:0.25rem;">&nbsp;</div>
</a>