<div class="hero is-fullheight">
    <div class="hero-body" style="justify-content: center">
        <article class="box" *ngIf="!hasRegistered">
            <h2 class="is-size-5">Create your free account</h2>

            <form [formGroup]="form" style="margin-top: 1rem" (ngSubmit)="register()">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" formControlName="email" [class.is-danger]="submitted && f.email.errors"
                            type="email" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && f.email.errors">
                        <p class="help is-danger" *ngIf="f.email.errors.required">Email is required</p>
                        <p class="help is-danger" *ngIf="f.email.errors.email">Email is invalid</p>
                        <p class="help is-danger" *ngIf="f.email.errors.notunique">Email is already in use</p>
                    </div>
                </div>
        
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" formControlName="username" type="text" placeholder="Username"
                            [class.is-danger]="submitted && f.username.errors">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && f.username.errors">
                        <p class="help is-danger"
                            *ngIf="f.username.errors.required || f.username.errors.maxlength || f.username.errors.minlength">
                            Username should be between 6 and 20 characters</p>
                        <p class="help is-danger" *ngIf="f.username.errors.pattern">
                            Username must only contain letters/numbers</p>
                        <p class="help is-danger" *ngIf="f.username.errors.notunique">Username is already in use</p>
                    </div>
                </div>
        
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" formControlName="password" type="password" placeholder="Password"
                            [class.is-danger]="submitted && f.password.errors">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && f.password.errors">
                        <p class="help is-danger" *ngIf="f.password.errors.required">
                            Password is required</p>
                        <p class="help is-danger" *ngIf="f.password.errors.minlength">
                            Password must at least 6 characters
                        </p>
                        <p class="help is-danger" *ngIf="f.password.errors.pattern">
                            Password must contain a lowercase character
                        </p>
                        <p class="help is-danger" *ngIf="f.password.errors.pattern">
                            Password must contain an uppercase character
                        </p>
                        <p class="help is-danger" *ngIf="f.password.errors.pattern">
                            Password must contain a number
                        </p>
                    </div>
                </div>
        
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" formControlName="confirmPassword" type="password" placeholder="Re-type password"
                            [class.is-danger]="submitted && f.confirmPassword.errors">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && f.confirmPassword.errors">
                        <p class="help is-danger" *ngIf="f.confirmPassword.errors.required">
                            Re-type password is required</p>
                        <p class="help is-danger" *ngIf="f.confirmPassword.errors.mustMatch">
                            Passwords must match</p>
                    </div>
                </div>
        
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" formControlName="acceptTerms"
                                [class.is-danger]="submitted && f.acceptTerms.errors">
                            I agree to the <a routerLink="/terms-of-service">terms and conditions</a>
                        </label>
                    </div>
                    <div *ngIf="submitted && f.acceptTerms.errors">
                        <p class="help is-danger" *ngIf="f.acceptTerms.errors.required">
                            Terms and conditions must be accepted</p>
                    </div>
                </div>

                <!-- Recaptcha -->
                <div style="margin: 2rem 0;">
                    <re-captcha (resolved)="recaptchaResolved($event)" [siteKey]="recaptchaSiteKey">
                    </re-captcha>
                </div>
        
                <div class="field">
                    <div class="control">
                        <div class="buttons">
                            <button type="submit" class="button is-secondary is-fullwidth" *ngIf="!isWaiting">Sign up</button>
                            <button class="button is-secondary is-fullwidth" *ngIf="isWaiting">
                                <span class="icon">
                                    <i class="fas fa-spinner fa-pulse"></i>
                                </span>
                            </button>
                            <a class="button is-fullwidth" routerLink="/sign-in">I have an account</a>
                        </div>
                    </div>
                    <p class="help is-danger" *ngIf="unknownError">It looks like something went wrong - please try again</p>
                </div>
            </form>
        </article>
        
        <div class="box" *ngIf="hasRegistered">
            <h2 class="is-size-5">Create your free account</h2>
            <div class="level" style="margin-top: 1rem;">
                <div class="level-item">
                    <span class="icon is-large has-text-success">
                        <i class="fas fa-2x fa-check-circle"></i>
                    </span>
                    You have registered successfully
                </div>
            </div>
            <a class="button link" (click)="goToNextRoute()">{{nextRouteButtonText}}</a>
        </div>
    </div>
</div>

