<article class="card is-rounded" *ngIf="!isSuccessful">
    <form class="card-content" [formGroup]="form" (ngSubmit)="tryResetPassword()">
        <div class="level">
            <div class="is-size-5">Reset your password</div>
        </div>

        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input" formControlName="password" type="password" placeholder="Password"
                    [class.is-danger]="submitted && f.password.errors">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <div *ngIf="submitted && f.password.errors">
                <p class="help is-danger" *ngIf="f.password.errors.required">
                    Password is required</p>
                <p class="help is-danger" *ngIf="f.password.errors.minlength">
                    Password must at least 6 characters
                </p>
                <p class="help is-danger" *ngIf="f.password.errors.pattern">
                    Password must contain a lowercase character
                </p>
                <p class="help is-danger" *ngIf="f.password.errors.pattern">
                    Password must contain an uppercase character
                </p>
                <p class="help is-danger" *ngIf="f.password.errors.pattern">
                    Password must contain a number
                </p>
            </div>
        </div>

        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <input class="input" formControlName="confirmPassword" type="password" placeholder="Re-type password"
                    [class.is-danger]="submitted && f.confirmPassword.errors">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <div *ngIf="submitted && f.confirmPassword.errors">
                <p class="help is-danger" *ngIf="f.confirmPassword.errors.required">
                    Re-type password is required</p>
                <p class="help is-danger" *ngIf="f.confirmPassword.errors.mustMatch">
                    Passwords must match</p>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button *ngIf="!isResetting" type="submit" class="button is-primary is-fullwidth">Reset</button>
                <a *ngIf="isResetting" class="button is-primary is-fullwidth">Resetting...</a>
            </div>
            <p class="help is-danger" *ngIf="unknownError">It looks like something went wrong - please try again</p>
        </div>
    </form>
</article>

<div class="card is-rounded" *ngIf="isSuccessful">
    <div class="card-header">
        <div class="card-header-title">
            Password reset
        </div>
    </div>
    <div class="card-content" style="text-align: center;">
        <div class="level">
            <div class="level-item">
                <span class="icon is-large has-text-success">
                    <i class="fas fa-2x fa-check-circle"></i>
                </span>
                You have successfully reset your password.
            </div>
        </div>
        <a class="button link" routerLink="/sign-in">Log in</a>
    </div>
</div>