<div class="tags are-medium" *ngIf="!isEditingTags">
    <span class="tag" *ngIf="!hasTags">
        No tags
    </span>
    <ng-template [ngIf]="hasTags">
        <span class="tag" [class.clickable]="canClickTag" *ngFor="let tag of tagList" (click)="clickTag(tag)">
            {{tag}}
        </span>
    </ng-template>
    <span class="tag is-primary" *ngIf="canEditTags" (click)="editTags()" style="cursor: pointer;">
        <span class="icon"><i class="fas fa-plus" aria-hidden="true"></i></span>
        <span *ngIf="!hasTags">Add Tags</span>
        <span *ngIf="hasTags">Edit Tags</span>
    </span>
</div>
<div class="field is-grouped" *ngIf="isEditingTags">
    <div class="control is-expanded">
        <input [(ngModel)]="tags" class="input" type="text" placeholder="tag1,tag2,tag3" (keydown)="onKeyDown($event)">
    </div>
    <div class="control">
        <button class="button is-primary" *ngIf="!isSavingTags" (click)="saveTags()">
            <span class="icon">
                <i class="fas fa-check"></i>
            </span>
        </button>
        <button class="button is-secondary" *ngIf="isSavingTags">
            <span class="icon">
                <i class="fas fa-spinner fa-pulse"></i>
            </span>
        </button>
    </div>
    <div class="control">
        <button class="button" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;" *ngIf="!isSavingTags" (click)="cancelSaveTags()">
            <span class="icon">
                <i class="fas fa-times"></i>
            </span>
        </button>
    </div>
</div>
<div *ngIf="hasErrorMessage">
    <p class="help is-danger">{{errorMessage}}</p>
</div>