<div class="comment" [class.is-root-comment]="isRootComment" [class.is-child-comment]="isChildComment">
    <span class="enable-text-selection" [innerHTML]="getProcessedText(comment.text)"></span>
    <div class="has-text-grey-light"><span class="reply-button" (click)="showReply()">reply</span> • {{getTimeSince(comment)}} • comment by {{comment.username}} </div>
</div>

<div  *ngIf="comment.isReplying" style="margin-left: 2rem;">
    <app-view-post-new-comment [parentComment]="comment"></app-view-post-new-comment>
</div>

<div *ngIf="comment.subComments != null && comment.subComments.length > 0" style="margin-left: 2rem;">
    <app-view-post-comment *ngFor="let comment of comment.subComments" [comment]="comment"></app-view-post-comment>
</div>

<!-- Load more-->
<button class="button" style="margin-left: 2rem;" *ngIf="canLoadMore" (click)="loadMoreComments()">{{loadMoreText}}</button>