@import "initial-variables";
@import "functions";
@import "styles-override-bulma-initial-variables.scss";
@import "derived-variables";
@import "mixins";

$body-size:14px;
$hero-body-padding: 0.5rem;
//$tag-background-color: $primary;
//$tag-color: white;
$card-header-background-color: $primary;
$card-header-color: whitesmoke;

/* Tabs */
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-padding: 0rem 0.5rem;
$tabs-border-bottom-style: none;

/* Navbar */
//$navbar-breakpoint: $tablet;
//$navbar-height: 2rem;
/*
$navbar-box-shadow-size: 0 2px 4px 0;
$navbar-box-shadow-color: $grey-lighter;
*/
.navbar-item {
  cursor: pointer;
  font-size: 0.9rem;
}

$navbar-small-height: 1.75rem !default;
.navbar.is-small {
  min-height: $navbar-small-height;

  & > .container {
    min-height: $navbar-small-height;
  }
  .navbar-brand,
  .navbar-tabs {
    min-height: $navbar-small-height;
  }
  .navbar-burger {
    @include hamburger($navbar-small-height);
  }
  .navbar-item,
  .navbar-link {
    padding: 0rem 1rem;
  }
  .navbar-item {
    &.is-tab {
      min-height: $navbar-small-height;
    }
  }
  @include desktop {
    .navbar {
      min-height: $navbar-small-height;
    }
  }
}

/* Section */
$section-padding: 0.5rem 0.25rem;

/* Box */
$box-padding: 1.25rem;
$box-radius: 0;
.box {
    box-shadow: none !important;
}

/* Modal */
$modal-card-head-background-color: $primary;
$modal-card-title-color: whitesmoke;
.modal-card-foot {
    background-color: white !important;
}

/* Helper classes */
.has-background-primary {
    background-color: $primary;
}

.field .field {
    margin-bottom: 0 !important;
}

.card.is-rounded {
    border-radius: 5px;
}

.view-content {
    margin-bottom: 1.5rem;
}

.username-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.is-full {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enable-text-selection {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.has-sign-up-image {
    //background-image: url('assets/sign-up-4.jpg') ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.is-body-align-top {
    align-items: baseline !important;
}

.is-body-align-center {
    align-items: center !important;
}

.hero {
    &.is-light {
        //background-color: darkslategray !important;
    }
}

@import "bulma";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./styles-animations.scss";