@import "initial-variables";
@import "functions";

/*
$primary: #0076D1 !default;
$primary-dark: #00579a !default;
$primary-light: #0793ff !default;
$primary-darker: #004579 !default;
$primary-lighter: #1e9bff !default;
*/
$primary: #FF4F00 !default;
$primary-dark: #C63E00 !default;
$primary-light: #FF7739 !default;
$primary-darker: #9B3000 !default;
$primary-lighter: #FF9464 !default;


$secondary: #FF4F00 !default;
$secondary-dark: #C63E00 !default;
$secondary-light: #FF7739 !default;
$secondary-darker: #9B3000 !default;
$secondary-lighter: #FF9464 !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$size-modifier: 1;
$size-1: $size-1 * $size-modifier;
$size-2: $size-2 * $size-modifier;
$size-3: $size-3 * $size-modifier;
$size-4: $size-4 * $size-modifier;
$size-5: $size-5 * $size-modifier;
$size-6: $size-6 * $size-modifier;
$size-7: $size-7 * $size-modifier;

$primary-dark-invert: findColorInvert($primary-dark) !default;
$primary-light-invert: findColorInvert($primary-light) !default;
$primary-darker-invert: findColorInvert($primary-darker) !default;
$primary-lighter-invert: findColorInvert($primary-lighter) !default;
$secondary-invert: findColorInvert($secondary) !default;
$secondary-dark-invert: findColorInvert($secondary-dark) !default;
$secondary-light-invert: findColorInvert($secondary-light) !default;
$secondary-darker-invert: findColorInvert($secondary-darker) !default;
$secondary-lighter-invert: findColorInvert($secondary-lighter) !default;

$custom-colors: (
    "primary-dark": ($primary-dark, $primary-dark-invert),
    "primary-light": ($primary-light, $primary-light-invert),
    "primary-darker": ($primary-darker, $primary-darker-invert),
    "primary-lighter": ($primary-lighter, $primary-lighter-invert),
    "secondary": ($secondary, $secondary-invert),
    "secondary-dark": ($secondary-dark, $secondary-dark-invert),
    "secondary-light": ($secondary-light, $secondary-light-invert),
    "secondary-darker": ($secondary-darker, $secondary-darker-invert),
    "secondary-lighter": ($secondary-lighter, $secondary-lighter-invert),
);

.background-primary-lighter {
    background-color: $primary-lighter;
}

$body-size:14px;
$navbar-height: 4rem;
$box-padding: 1.25rem;
//$tag-background-color: $primary;
//$tag-color: white;
$card-header-background-color: $primary;
$card-header-color: whitesmoke;
$modal-card-head-background-color: $primary;
$modal-card-title-color: whitesmoke;
.modal-card-foot {
    background-color: white !important;
}

.has-background-primary {
    background-color: $primary;
}

.field .field {
    margin-bottom: 0 !important;
}

.card.is-rounded {
    border-radius: 5px;
}

.view-content {
    margin-bottom: 1.5rem;
}

.username-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.is-full {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enable-text-selection {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.has-sign-up-image {
    //background-image: url('assets/sign-up-4.jpg') ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.is-body-align-top {
    align-items: baseline !important;
}

.is-body-align-center {
    align-items: center !important;
}

.hero {
    &.is-light {
        //background-color: darkslategray !important;
    }
}

.module-hero-body-padding {
    padding: 0.5rem !important;
}

@import "bulma";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./styles-animations.scss";