<div class="buttons is-fullwidth is-hidden-desktop">
    <a routerLink="/edit-list" class="button is-primary is-fullwidth">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
        <span>Create your own list</span>
    </a>
</div>
<div class="card  is-hidden-touch" style="margin-bottom: 20px;">
    <header class="card-header">
        <p class="card-header-title">
            Featured lists
        </p>
    </header>
    <div id="list-ui-header" class="card-content">
        <p>Welcome to Dipdoo!</p>
    </div>
</div>